.button {
	display: block;	
	cursor: pointer;
	outline: none;
	border:{
		radius: 20px;
		width: 2px;
		style: solid;
		color: $baseGreen;
	}
	margin: 5px;
	padding: 10px 20px;
	color: white;
	background:{
		color: $baseGreen;			
	}
	&:hover {						
		border:{
			color: black;
		}
	}
	&--transpar {
		background:{
			color: transparent;			
		}
		border:{
			color: white;
		}
		&:hover{
			border:{
				color: $baseGreen;
			}
		}
	}
	&--shadow{
		box-shadow: 0 0 50px 10px $baseGreen;
		&:hover {
			box-shadow: 0 0 50px 10px white;
		}
		@include respond-to(mobile){
			margin: auto;
		}
	}
	&--center{
		margin: auto;
	}


}