.sectionTitle {
	font-family: GothamProBlack;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	margin: 20px 0;
	&--alignLeft{
		text-align: left;
	}
	&--small {
		font-size: 18px;
		margin: 5px 0;
	}
	&--white{
		color: white;
	}
}