.smm {
	padding: 40px 0;
	@include respond-to(mobile){
		padding: 10px 0;
	}
	&__header {
		width: 100%;
		margin: 20px 0;
	}
	&__content {
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		margin: 40px 0;
		@include respond-to(mobile){
			margin: 20px 0;
			text-align: center;
		}
		&-item {
			width: 23%;
			@include respond-to(mobile){
				width: 100%;
				padding: 5px 0;
			}
			img{
				width: 35px;
				height: 35px;
			}
		}
	}
}