.smm {
	padding: 40px 0;
	&__header {
		width: 100%;
		margin: 20px 0;
	}
	&__content {
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		margin: 40px 0;
		&-item {
			width: 23%;
			img{
				width: 35px;
				height: 35px;
			}
		}
	}
}