.wrapper {
	width: 1170px;
	height: inherit;
	margin: 0 auto;
	padding: 0 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include respond-to(tablets) {
		width: 100%;
	}
	&-wrap {
		flex-flow: row wrap;
	}
	&-background{
		background-image: url(../img/smm.png);
		background-size: cover;
		background-position: center; 
	}
	&__container{
		margin: auto;
		position: relative;
		width: 100%;
	}
}