* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

div,
map,
dt,
form,
header,
nav,
article,
footer,
address {
  display: block; }

html,
body {
  position: relative; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.button {
  display: block;
  cursor: pointer;
  outline: none;
  border-radius: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: #16a085;
  margin: 5px;
  padding: 10px 20px;
  color: white;
  background-color: #16a085; }
  .button:hover {
    border-color: black; }
  .button--transpar {
    background-color: transparent;
    border-color: white; }
    .button--transpar:hover {
      border-color: #16a085; }
  .button--shadow {
    box-shadow: 0 0 50px 10px #16a085; }
    .button--shadow:hover {
      box-shadow: 0 0 50px 10px white; }
    @media only screen and (max-width: 768px) {
      .button--shadow {
        margin: auto; } }
  .button--center {
    margin: auto; }

.wrapper {
  width: 1170px;
  height: inherit;
  margin: 0 auto;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden; }
  @media only screen and (max-width: 1170px) {
    .wrapper {
      width: 100%; } }
  @media only screen and (max-width: 768px) {
    .wrapper {
      width: 100%; } }
  .wrapper-wrap {
    flex-flow: row wrap; }
  .wrapper-background {
    background-image: url(../img/smm.png);
    background-size: cover;
    background-position: center; }
  .wrapper__container {
    margin: auto;
    position: relative;
    width: 100%; }

.nav {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 100;
  background-color: black; }
  .nav .burgerIcon {
    display: none; }
    @media only screen and (max-width: 768px) {
      .nav .burgerIcon {
        display: block; } }
  .nav__logo {
    font-size: 30px; }
    .nav__logo-link {
      color: white; }
      .nav__logo-link:hover {
        color: #16a085; }
  .nav__list {
    width: 500px;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 768px) {
      .nav__list {
        width: 100%;
        display: none;
        position: absolute;
        text-align: center;
        left: 0;
        top: 70px;
        background-color: black; } }
    .nav__list-item {
      padding: 5px 10px; }
    .nav__list-link {
      display: block;
      color: white; }
      .nav__list-link:hover {
        color: #16a085; }
  .nav__contacts {
    color: white;
    text-align: center; }
    .nav__contacts-phone {
      margin: 2px; }

.home {
  height: 620px;
  background-image: url(../img/fon.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .home__info {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center; }
    .home__info-title {
      width: 100%;
      color: white;
      font-size: 50px;
      text-align: left;
      margin: 0 0 20px; }
      @media only screen and (max-width: 768px) {
        .home__info-title {
          text-align: center; } }
    .home__info--small {
      width: 100%;
      font-size: 40px; }

.sectionTitle {
  font-family: GothamProBlack;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0; }
  .sectionTitle--alignLeft {
    text-align: left; }
    @media only screen and (max-width: 768px) {
      .sectionTitle--alignLeft {
        text-align: center; } }
  .sectionTitle--small {
    font-size: 18px;
    margin: 5px 0; }
  .sectionTitle--white {
    color: white; }

.smm {
  padding: 40px 0; }
  .smm__header {
    width: 100%;
    margin: 20px 0; }
  .smm__content {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 40px 0; }
    @media only screen and (max-width: 768px) {
      .smm__content {
        text-align: center; } }
    .smm__content-item {
      width: 23%; }
      @media only screen and (max-width: 768px) {
        .smm__content-item {
          width: 100%;
          padding: 5px 0; } }
      .smm__content-item img {
        width: 35px;
        height: 35px; }

.socialPower__header {
  width: 60%;
  margin: 15px auto;
  text-align: center; }
  @media only screen and (max-width: 768px) {
    .socialPower__header {
      width: 100%; } }

.socialPower__slider {
  width: 100%; }
  .socialPower__slider--padding {
    padding: 40px 0;
    overflow: hidden; }

.product {
  padding: 40px 0; }
  .product__header {
    width: 60%;
    margin: 15px auto;
    text-align: center; }
  .product__slider {
    width: 100%; }
    .product__slider--padding {
      overflow: hidden;
      padding: 40px 0; }
    .product__slider__item {
      position: relative;
      box-shadow: 0 0 70px -7px black; }
      .product__slider__item-social {
        position: absolute;
        top: -35px;
        left: 30px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .product__slider__item-social--vk {
          background-image: url(../img/vk.png);
          background-position: center;
          background-size: cover;
          display: block;
          width: 70px;
          height: 40px;
          margin: 3px; }
        .product__slider__item-social--facebook {
          background-image: url(../img/facebook.png);
          background-position: center;
          background-size: cover;
          display: block;
          width: 50px;
          height: 50px;
          margin: 3px; }
        .product__slider__item-social--instagram {
          background-image: url(../img/instagram.png);
          background-position: center;
          background-size: cover;
          display: block;
          width: 50px;
          height: 50px;
          margin: 3px; }
      .product__slider__item-content {
        position: absolute;
        top: 70px;
        left: 30px; }
      .product__slider__item-picture {
        position: absolute;
        left: 279px;
        top: -30px; }
        .product__slider__item-picture img {
          width: 100%;
          height: 100%; }
        .product__slider__item-picture--shop {
          left: 371px;
          top: -40px; }
          .product__slider__item-picture--shop img {
            width: 80%; }

.popular {
  background-image: url(../img/popularBg.png);
  background-size: cover;
  background-position: center;
  height: 720px;
  box-shadow: inset 0 0 10px black; }
  .popular__content {
    width: 700px;
    margin: auto; }
    .popular__content_header {
      color: white;
      font-weight: normal;
      position: relative;
      margin: 15px 0; }
      .popular__content_header:before {
        content: url(../img/before_circle.png);
        position: absolute;
        top: 10px;
        left: 7px; }
      .popular__content_header-list {
        width: 20px;
        margin: 15px;
        text-align: center;
        border-radius: 50%;
        background-color: white;
        color: black;
        line-height: 40px;
        padding: 5px 9px; }

.subscriber {
  height: 700px; }
  @media only screen and (max-width: 768px) {
    .subscriber {
      height: 400px; } }
  .subscriber__video {
    margin: 30px auto;
    width: 770px; }
    @media only screen and (max-width: 768px) {
      .subscriber__video {
        width: 100%;
        overflow: hidden; } }

.development {
  background-image: url(../img/developmentBg.png);
  background-size: cover;
  background-position: center;
  height: 550px; }
  .development__icons {
    padding: 50px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white; }
    @media only screen and (max-width: 768px) {
      .development__icons {
        flex-flow: row wrap;
        justify-content: center; } }
    .development__icons-item {
      margin: 10px; }
      @media only screen and (max-width: 768px) {
        .development__icons-item {
          width: 40%; } }
      .development__icons-item--center {
        text-align: center; }
      .development__icons-item-picture {
        width: 40px;
        height: 50px;
        margin: auto; }
        .development__icons-item-picture img {
          color: white; }
  .development__info {
    width: 600px;
    color: white;
    margin: auto;
    text-align: center; }
    .development__info-paragraph {
      margin: 0 0 30px 0; }

.targetSubscriber {
  background-image: url(../img/robot.png);
  background-position: center;
  background-size: cover;
  height: 420px; }
  @media only screen and (max-width: 768px) {
    .targetSubscriber {
      background: transparent; } }
  .targetSubscriber__info {
    width: 100%;
    line-height: 20px; }

.business {
  height: 550px;
  background-image: url(../img/businessBg.png); }
  .business__progress {
    text-align: center;
    margin: 50px 0; }
    .business__progress input[type=range] {
      -webkit-appearance: none;
      appearance: none;
      width: 100%;
      height: 20px;
      padding: 0;
      margin: auto;
      border-radius: 10px;
      box-shadow: inset 0 0 0 2px #2D7CFA;
      background: white;
      overflow: hidden;
      outline: none; }
    .business__progress input[type=range]::-moz-range-track {
      background: none;
      border: none; }
    .business__progress input[type=range]::-moz-range-thumb {
      -moz-appearance: none;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid #818181;
      box-shadow: -13px 0 #00cde5, -26px 0 #00cde5, -39px 0 #00cde5, -52px 0 #00cde5, -65px 0 #00cde5, -78px 0 #00cde5, -91px 0 #00cde5, -104px 0 #00cde5, -117px 0 #00cde5, -130px 0 #00cde5, -143px 0 #00cde5, -156px 0 #00cde5, -169px 0 #00cde5, -182px 0 #00cde5, -195px 0 #00cde5, -208px 0 #00cde5, -221px 0 #00cde5, -234px 0 #00cde5, -247px 0 #00cde5, -260px 0 #00cde5, -273px 0 #00cde5,  -286px 0 #00cde5, -299px 0 #00cde5, -312px 0 #00cde5, -325px 0 #00cde5, -338px 0 #00cde5, -351px 0 #00cde5, -364px 0 #00cde5, -379px 0 #00cde5, -391px 0 #00cde5, -404px 0 #00cde5, -417px 0 #00cde5, -430px 0 #00cde5,  -443px 0 #00cde5, -456px 0 #00cde5, -469px 0 #00cde5, -482px 0 #00cde5, -495px 0 #00cde5, -508px 0 #00cde5, -521px 0 #00cde5, -524px 0 #00cde5, -547px 0 #00cde5, -560px 0 #00cde5, -573px 0 #00cde5, -586px 0 #00cde5, -599px 0 #00cde5, -612px 0 #00cde5, -625px 0 #00cde5, -638px 0 #00cde5, -651px 0 #00cde5, -664px 0 #00cde5, -677px 0 #00cde5, -690px 0 #00cde5, -703px 0 #00cde5,  -716px 0 #00cde5, -729px 0 #00cde5, -742px 0 #00cde5, -755px 0 #00cde5, -768px 0 #00cde5, -781px 0 #00cde5, -794px 0 #00cde5, -807px 0 #00cde5, -820px 0 #00cde5,  -833px 0 #00cde5, -846px 0 #00cde5, -859px 0 #00cde5,  -872px 0 #00cde5, -885px 0 #00cde5, -898px 0 #00cde5,  -911px 0 #00cde5, -924px 0 #00cde5, -937px 0 #00cde5,  -950px 0 #00cde5, -963px 0 #00cde5, -976px 0 #00cde5,  -989px 0 #00cde5, -1002px 0 #00cde5, -1015px 0 #00cde5, -1028px 0 #00cde5, -1041px 0 #00cde5, -1054px 0 #00cde5,  -1067px 0 #00cde5, -1080px 0 #00cde5, -1093px 0 #00cde5,  -1106px 0 #00cde5, -1119px 0 #00cde5, -1132px 0 #00cde5,  -1145px 0 #00cde5, -1158px 0 #00cde5, -1171px 0 #00cde5,  -1184px 0 #00cde5, -1197px 0 #00cde5, -1210px 0 #00cde5,  -1223px 0 #00cde5, -1236px 0 #00cde5, -1249px 0 #00cde5,  -1262px 0 #00cde5, -1275px 0 #00cde5; }
    .business__progress input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid #818181;
      background: #fff;
      box-shadow: -13px 0 #00cde5, -26px 0 #00cde5, -39px 0 #00cde5, -52px 0 #00cde5, -65px 0 #00cde5, -78px 0 #00cde5, -91px 0 #00cde5, -104px 0 #00cde5, -117px 0 #00cde5, -130px 0 #00cde5, -143px 0 #00cde5, -156px 0 #00cde5, -169px 0 #00cde5, -182px 0 #00cde5, -195px 0 #00cde5, -208px 0 #00cde5, -221px 0 #00cde5, -234px 0 #00cde5, -247px 0 #00cde5, -260px 0 #00cde5, -273px 0 #00cde5,  -286px 0 #00cde5, -299px 0 #00cde5, -312px 0 #00cde5, -325px 0 #00cde5, -338px 0 #00cde5, -351px 0 #00cde5, -364px 0 #00cde5, -379px 0 #00cde5, -391px 0 #00cde5, -404px 0 #00cde5, -417px 0 #00cde5, -430px 0 #00cde5,  -443px 0 #00cde5, -456px 0 #00cde5, -469px 0 #00cde5, -482px 0 #00cde5, -495px 0 #00cde5, -508px 0 #00cde5, -521px 0 #00cde5, -524px 0 #00cde5, -547px 0 #00cde5, -560px 0 #00cde5, -573px 0 #00cde5, -586px 0 #00cde5, -599px 0 #00cde5, -612px 0 #00cde5, -625px 0 #00cde5, -638px 0 #00cde5, -651px 0 #00cde5, -664px 0 #00cde5, -677px 0 #00cde5, -690px 0 #00cde5, -703px 0 #00cde5,  -716px 0 #00cde5, -729px 0 #00cde5, -742px 0 #00cde5, -755px 0 #00cde5, -768px 0 #00cde5, -781px 0 #00cde5, -794px 0 #00cde5, -807px 0 #00cde5, -820px 0 #00cde5,  -833px 0 #00cde5, -846px 0 #00cde5, -859px 0 #00cde5,  -872px 0 #00cde5, -885px 0 #00cde5, -898px 0 #00cde5,  -911px 0 #00cde5, -924px 0 #00cde5, -937px 0 #00cde5,  -950px 0 #00cde5, -963px 0 #00cde5, -976px 0 #00cde5,  -989px 0 #00cde5, -1002px 0 #00cde5, -1015px 0 #00cde5, -1028px 0 #00cde5, -1041px 0 #00cde5, -1054px 0 #00cde5,  -1067px 0 #00cde5, -1080px 0 #00cde5, -1093px 0 #00cde5,  -1106px 0 #00cde5, -1119px 0 #00cde5, -1132px 0 #00cde5,  -1145px 0 #00cde5, -1158px 0 #00cde5, -1171px 0 #00cde5,  -1184px 0 #00cde5, -1197px 0 #00cde5, -1210px 0 #00cde5,  -1223px 0 #00cde5, -1236px 0 #00cde5, -1249px 0 #00cde5,  -1262px 0 #00cde5, -1275px 0 #00cde5; }

.socialPages {
  height: 500px; }
  @media only screen and (max-width: 768px) {
    .socialPages {
      height: 400px; } }
  .socialPages__icons {
    padding: 70px 0;
    display: flex;
    width: 100%;
    justify-content: space-between; }
    @media only screen and (max-width: 768px) {
      .socialPages__icons {
        flex-flow: row wrap;
        justify-content: center; } }
    .socialPages__icons-uncolorLink {
      text-decoration: none;
      color: inherit; }
      @media only screen and (max-width: 768px) {
        .socialPages__icons-uncolorLink {
          text-align: center;
          width: 33%; } }

.iconSocial {
  transition: 0.4s;
  padding: 10px;
  border-radius: 10px;
  color: grey; }
  .iconSocial:hover {
    transform: scale(1.3);
    transition: 0.4s;
    color: white;
    background-color: #2D7CFA;
    border-radius: 0; }

.swiper-slide-prev {
  opacity: 0.2;
  transition: 1s;
  overflow: hidden; }
  .swiper-slide-prev:after {
    background: transparent;
    background: linear-gradient(to right, white 45%, rgba(255, 0, 0, 0) 100%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  @media only screen and (max-width: 768px) {
    .swiper-slide-prev {
      display: none; } }

.swiper-slide-next {
  opacity: 0.2;
  transition: 1s;
  overflow: hidden; }
  .swiper-slide-next:after {
    background: transparent;
    background: linear-gradient(to left, white 45%, rgba(255, 0, 0, 0) 100%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  @media only screen and (max-width: 768px) {
    .swiper-slide-next {
      display: none; } }

.swiper-container {
  overflow: visible; }

@media only screen and (max-width: 768px) {
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    display: none; } }

@media only screen and (max-width: 768px) {
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    display: none; } }
